<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
<div>
   <!--  <ul *ngFor="let pais of paises">
        <li>{{pais}}</li>
        <button>x</button>
    </ul> -->

    <table>
        <thead>
                <th>Pais</th>
                <th>Continente</th>
                <th>Bandera</th>
                
        </thead>
        <tbody *ngFor="let pais of listaPaises">
                <td>{{pais.nombre}}</td>
                <td>{{pais.continente}}</td>
                
                <td>
                  <img src="{{pais.imagen}}" alt="foto de {{pais.imagen}}">
                </td>
        </tbody>
    </table>
</div>